experimental_monorepo_root = true

[settings]
experimental = true
task.monorepo_depth = 2

[tools]
markdownlint-cli2 = "latest"

[tasks.configurator]
description = "Run roboapp configurator"
depends = [
  "//configurator:configurator",
]

[tasks.mdlint]
description = "Run markdownlint-cli2 linter"
run = 'markdownlint-cli2 "**/*.md" "#**/.venv" "#**/node_modules" "#**/target" "#**/build" "#**/3rdparty"'

[tasks.mdformat]
description = "Run markdownlint-cli2 formatter"
run = 'markdownlint-cli2 "**/*.md" "#**/.venv" "#**/node_modules" "#**/target" "#**/build" "#**/3rdparty" --fix'

[tasks.build]
description = "Build all projects"
depends = [
  "//configurator:build",
  "//main_camera_system:build",
  "//uart_bridge:build",
  "//ui_system:build",
  "//lidar_system:build",
]

[tasks.lint]
description = "Run linters for all projects"
depends = [
  "//configurator:lint",
  "//main_camera_system:lint",
  "//uart_bridge:lint",
  "//ui_system:lint",
  "//lidar_system:lint",
  "//:mdlint",
]

[tasks.format]
description = "Run formatters for all projects"
depends = [
  "//configurator:format",
  "//main_camera_system:format",
  "//uart_bridge:format",
  "//ui_system:format",
  "//lidar_system:format",
  "//:mdformat",
]

[tasks.test]
description = "Run tests for all projects"
depends = [
  "//configurator:test",
  "//main_camera_system:test",
  "//uart_bridge:test",
  "//ui_system:test",
  "//lidar_system:test",
]
