experimental_monorepo_root = true

[settings]
experimental = true
task.monorepo_depth = 2

[tasks.configurator]
description = "Run roboapp configurator"
depends = [
  "//configurator:configurator",
]

[tasks.build]
description = "Build all projects"
run = [
  "cd configurator; mise build",
  "cd main_camera_system; mise build",
  "cd uart_bridge; mise build",
  "cd ui_system; mise build",
  "cd lidar_system; mise build",
]

[tasks.lint]
description = "Run linters for all projects"
run = [
  "cd configurator; mise lint",
  "cd main_camera_system; mise lint",
  "cd uart_bridge; mise lint",
  "cd ui_system; mise lint",
  "cd lidar_system; mise lint",
]

[tasks.format]
description = "Run formatters for all projects"
run = [
  "cd configurator; mise format",
  "cd main_camera_system; mise format",
  "cd uart_bridge; mise format",
  "cd ui_system; mise format",
  "cd lidar_system; mise format",
]

[tasks.test]
description = "Run tests for all projects"
run = [
  "cd configurator; mise test",
  "cd main_camera_system; mise test",
  "cd uart_bridge; mise test",
  "cd ui_system; mise test",
  "cd lidar_system; mise test",
]
