experimental_monorepo_root = true

[settings]
experimental = true
task.monorepo_depth = 2

[tasks.build]
run = ["mise //main_camera_system:build", "mise //uart_bridge:build", "mise //ui_system:build"]
