[tools]
just = "latest"

[tasks.deps]
description = "Generate Build Files"
run = "just deps"
sources = ["CMakeLists.txt", "src/**", "include/**"]
outputs = ["./build/build.ninja", "./build/compile_commands.json"]

[tasks.build]
depends = ["deps"]
description = "Build Application"
run = "just build"
sources = [
  "./build/build.ninja",
  "./build/compile_commands.json",
  "include/**",
  "src/**"
]
outputs = ["./build/processor", "./build/sender", "./build/viewer"]

[tasks.lint]
description = "Run linter"
run = [{ tasks = ["clang_tidy", "format_check"] }]

[tasks.clang_tidy]
depends = ["deps"]
description = "Run clang-tidy"
run = "just clang-tidy"

[tasks.format_check]
depends = ["deps"]
description = "Check Formatter"
run = "just format-check"

[tasks.format]
depends = ["deps"]
description = "Run Formatter"
run = "just format"

[tasks.test]
depends = ["build"]
description = "Run Tests"
run = "just test"
