[vars]
target = './include ./src -regex ".*\.\(c\|h\|cpp\|hpp\)"'

[tasks.deps]
description = "Install dependency"
run = ["git submodule update --init --recursive"]

[tasks.build]
depends = ["deps"]
description = "Build Application"
run = "cmake -S . -B build -G Ninja -DCMAKE_BUILD_TYPE=Release && cmake --build build --config Release"

[tasks.lint]
description = "Run linter"
run = [{ tasks = ["clang_tidy", "format_check"] }]

[tasks.clang_tidy]
depends = ["deps"]
description = "Run clang-tidy"
run = "find {{ vars.target }} -exec clang-tidy -p ./build {} +"

[tasks.format_check]
depends = ["deps"]
description = "Check Formatter"
run = "find {{ vars.target }} -exec clang-format --Werror --dry-run {} +;"

[tasks.format]
depends = ["deps"]
description = "Run Formatter"
run = "find {{ vars.target }} -exec clang-format -i {} +;"

[tasks.start]
depends = ["build"]
description = "Start Application"
run = "./target/release/main-camera-system"
