[Unit]
Description=Roboapp UART Bridge

[Service]
ExecStart={{UV_PATH}} run python {{APP_FOLDER}}/uart_bridge/src/uart_bridge/main.py
ExecStop=/bin/kill ${MAINPID}
Restart=always

[Install]
WantedBy=multi-user.target
