[Unit]
Description=Roboapp Main Camera System

[Service]
WorkingDirectory={{APP_FOLDER}}/main_camera_system
ExecStart=target/release/main-camera-system
ExecStop=/bin/kill ${MAINPID}
Restart=always

[Install]
WantedBy=multi-user.target
