[Unit]
Description=Roboapp UI System

[Service]
WorkingDirectory={{APP_FOLDER}}/ui_system
ExecStart=src-tauri/target/release/ui_system
ExecStop=/bin/kill ${MAINPID}
Restart=always

[Install]
WantedBy=multi-user.target
