[Unit]
Description=Roboapp UART Bridge

[Service]
WorkingDirectory={{APP_FOLDER}}/uart_bridge
ExecStart={{UV_PATH}} run python /src/uart_bridge/main.py
ExecStop=/bin/kill ${MAINPID}
Restart=always

[Install]
WantedBy=multi-user.target
