[Unit]
Description=Roboapp Main Camera System

[Service]
ExecStart={{APP_FOLDER}}/main_camera_system/target/release/main-camera-system
ExecStop=/bin/kill ${MAINPID}
Restart=always

[Install]
WantedBy=default.target
